<section class="footer-info-section">
    <div class="container">
        <div class="footer-info-grid">
            <div class="footer-info-col">
                <h4>Serviços Exclusivos</h4>
                <ul>
                    <li><a href="#">Festas Aniversário</a></li>
                </ul>
            </div>
            <div class="footer-info-col">
                <h4>Cinema City</h4>
                <ul>
                    <li><a href="contact.html">Contactos</a></li>
                    <li><a href="#">Normas Cinema City</a></li>
                    <li><a href="#">Parcerias</a></li>
                    <li><a href="#">Publicidade</a></li>
                    <li><a href="#">Trabalhe conosco</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
