<header>
    <nav class="navbar">
        <div class="logo"><img src="assets/images/gallery/logo.png" alt="Cinema City Logo"></div>
        <ul class="nav-links">
            <li><a href="/CinemaCity/index.html">Produtos</a></li>
            <li><a href="/CinemaCity/products.html">Serviços</a></li>
            <li><a href="/CinemaCity/projects.html">Cinemas</a></li>
            <li><a href="/CinemaCity/index.html#destaques">Destaques</a></li>
        </ul>
        <div class="search-login">
            <input type="text" placeholder="Pesquise por filme, actores, realizadores">
            <a class="login-btn" href="/CinemaCity/login.html">Login</a>
        </div>
    </nav>
</header>
